body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0 15px;
    overflow-x: hidden;
}

.main-title {
    font-size: 60px;
}

.container {

    max-width: 1120px;
    padding: 0;
    margin: 0 auto;  
    text-align: center;
}

.card {
    margin: 42px;
}

.card-header {
    background-color: rgb(221, 181, 236);
    text-align: center;
}

.btn {
    display: flex;
    margin: 0 auto;
    box-shadow: inset;
}
div {
    margin: .4em 0;
  }
  div label {
    width: 25%;
    float: left;
  }
  .btn {
    display: block;
    margin: 1em 0;
  }