<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Autor administración</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/main/java/style.css">
    </head>
    <body>
        <h1>administración de autores</h1>
        <b th:text = "${exito}"></b>
        <form method="POST" action="/autor/agregar" enctype="multipart/form-data">
            <fieldset>
                <p>Nombre: <input type="text" name="nombre" size="40"></p>
                <p>¿Está dado de alta?
                  <input type="radio" name="alta" value="true"> True
                  <input type="radio" name="alta" value="false"> False
                </p>
                <p>
                  <input type="submit" value="Enviar">
                  <input type="reset" value="Borrar">
                </p>
          </fieldset>
          <fieldset>
              <legend>Si desea ver una lista de los autores</legend>
              <a th:href="@{/autor/getAutores}">ver lista</a>
              <button>Ver lista</button>
          </fieldset>
            <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Alta</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="autor : ${autores}">
                <td th:text="${autor.id}"></td>
                <td th:text="${autor.nombre}"></td>
                <td th:text="${autor.alta}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/autores/editar/} + ${autor.id}">Editar <i
                            class="fa fa-edit"></i></a>
                </td>
                <td>
                    <form th:action="@{/autores/eliminar}" method="post">
                        <input type="hidden" name="id" th:value="${autor.id}"/>
                        <button type="submit" class="btn btn-danger">Eliminar <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

          </form>
    </body>
</html>
